.main-head {
    color: white;
    font-size: 23px;
    font-family: Roboto;
    padding: 25px;
}

.pic-t {
    margin: 15px;
    width: 33%;

}

.button {
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: white;
}

.button1 {
    background-color: transparent;
    color: white;
    border-width: 1px;
    border-color: white;
}

.logo {
    color: white;
    font-family: Bree Serif;
    font-size: 30px;

}



.h1 {
    color: white;
    font-family: Roboto;
    font-size: 30px;
}

.p {
    color: white;
    font-family: Roboto;
    font-size: 15px;
}
